@import "tailwindcss";

@theme {
  --color-background: #0B1120; /* Background */
  --color-card: #111827; /* Card Backround */
  --color-foreground: #F9FAFB; /* Titles */
  --color-muted: #9CA3AF; /* Description */
  --color-text-accent: #1F2937; /*  */
  --color-accent: #1E293B; /* background hover */
}

:root {
  --background: #0B1120;
  --foreground: #111827;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
